<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link ref="stylesheet" type="text/css" href="styles/base.css">
  <title>Book Searcher</title>

</head>

<body>
  <h1>Books</h1>
  <nav>
    <a href="/booksearch">Search By Book Title</a>
  </nav>
  <% for(let i=0;i<books.length; i++){ %>
    <ul>
      <li>
        <h2>
          <%= books[i].title %>
        </h2>
      </li>
      <!-- //<form action="/book<%=book.id %>?_method=PUT" method="POST"></form> overriding POST to make it a PUT-->



    </ul>


    <% } %>
</body>

</html>