<!DOCTYPE html>
<html>

  <%- include('../layout/head.ejs') %>

  <body>
    <h1>Books</h1>
    <nav>
      <a href="/booksearch">Search By Book Title</a>
    </nav>
    <% for(let i=0;i<books.length; i++){ %>
      <ul>
        <li>
          <h2>
            <%= books[i].title %>
          </h2>
        </li>




      </ul>


      <% } %>
  </body>

</html>