<!DOCTYPE html>
<html>

<%- include('../layout/head.ejs') %>

  <link ref="stylesheet" type="text/css" href="/styles/base.css">
  <title>Book Searcher</title>


  <body>

    <h1>Books</h1>
    <%- include('../partials/nav.ejs')%>
      <% for(let i=0;i<books.length; i++){ %>
        <ul>
          <li>
            <h2>
              <%= books[i].title %>
            </h2>

          </li>



        </ul>


        </ul>


        <% } %>
  </body>

  <% } %>
    </body>


</html>