<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Searcher</title>
  <link ref="stylesheet" href="/styles/base.css">
  <link ref="stylesheet" href="/styles/layout.css">
  <link ref="stylesheet" href="/styles/modules.css">
  <link ref="stylesheet" href="/styles/reset.css">
</head>