<!DOCTYPE html>
<html>

<%- include('../../layout/head.ejs') %>

  <body>
    <h1>Books</h1>
    <%- include('../partials/nav.ejs') %>
      <form action="/booksearch" method="POST">
        <fieldset>
          <legend>
            Search
          </legend>
          <label for="title">
            Search
          </label>
          <input type="radio" name="search" value="author">
          <label>
            Author
          </label>
          <input type="radio" name="search" value="title">
          <!-- https://www.w3schools.com/tags/att_input_type_radio.asp -->
          <label>
            Title
          </label>
          <input type="text" name="search">
          <input type="submit" value="Search">

        </fieldset>
      </form>


  </body>

</html>